.btn {
  display: inline-block;
  margin-top: 100px;
  padding: 72px 50px;
  border: 40px dashed lightgrey;
  background-color: lightgrey;
  border-radius: 50%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: deeppink;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 3px 7px 6px #f8f6f6;
}

.btn.active {
  background-color: deeppink;
  color: white;
}
