.btn {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 50px;
  border: 40px dashed lightgrey;
  background-color: lightgrey;
  border-radius: 50%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: deeppink;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 1px 1px 1px deeppink;
}

@media (prefers-reduced-motion: no-preference) {
  .btn {
    animation: btn-spin infinite 100s linear;
  }
}

@keyframes btn-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn:hover {
  font-size: 13px;
  color: #f8f6f6;
  padding: 73px 50.5px;
}
.btn.active {
  background-color: deeppink;
  color: white;
}
