.btn {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 50px;
  border: 40px dashed lightgrey;
  background-color: lightgrey;
  border-radius: 50%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: deeppink;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 1px 1px 1px deeppink;
}
.btn:hover {
  font-size: 15px;
  color: #f8f6f6;
  padding: 73px 50px;
}
.btn.active {
  background-color: deeppink;
  color: white;
}
